            <html>
                <head>
                    <meta charset="UTF-8">
                    <link rel="stylesheet" type="text/css" href="css/report.css">
                </head>
                <body>
                    <div style="display:none;justify-content: center;">
                        <h1 style="width: 90%;text-align:center;">Relatório</h1>
                        <img src="imagens/new.png" width="" style="height: 80px;">
                    </div>
                    <table>
                        <thead>
                            <th><div class="head"><span>Data</span></div></th>
                            <th><div class="head"><span>TMax</span></div></th>
                            <th><div class="head"><span>TMed</span></div></th>
                            <th><div class="head"><span>TMin</span></div></th>
                            <th><div class="head"><span>Kc</span></div></th>
                            <th><div class="head"><span>Area do vaso</span></div></th>
                            <th><div class="head"><span>Eficiência</span></div></th>
                            <th><div class="head"><span>Etc</span></div></th>
                            <th><div class="head"><span>Eto</span></div></th>
                            <th><div class="head"><span>Resultado(ml)</span></div></th>
                            <th><div class="head"><span>Resultado(30% ml)</span></div></th>
                        </thead>
                        <tbody>

                <tr>
                    <td><span>26-06-2018</span></td>
                    <td><span>21</span></td>
                    <td><span>20</span></td>
                    <td><span>18</span></td>
                    <td><span>0.3</span></td>
                    <td><span>0.0908</span></td>
                    <td><span>0.9</span></td>
                    <td><span>0.54</span></td>
                    <td><span>1.8</span></td>
                    <td><span>50.0</span></td>
                    <td><span>65.0</span></td>
                </tr>

                <tr>
                    <td><span>31-05-2018</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>1.05</span></td>
                    <td><span>1.31</span></td>
                    <td><span>10.0</span></td>
                    <td><span>13.0</span></td>
                </tr>

                <tr>
                    <td><span>31-05-2018</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>1.05</span></td>
                    <td><span>1.5</span></td>
                    <td><span>10.0</span></td>
                    <td><span>13.0</span></td>
                </tr>

                <tr>
                    <td><span>31-05-2018</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>17.5</span></td>
                    <td><span>2.5</span></td>
                    <td><span>220.0</span></td>
                    <td><span>286.0</span></td>
                </tr>

                <tr>
                    <td><span>31-05-2018</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>2.19</span></td>
                    <td><span>1.99</span></td>
                    <td><span>40.0</span></td>
                    <td><span>52.0</span></td>
                </tr>

                <tr>
                    <td><span>19-04-2018</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>null</span></td>
                    <td><span>2.38</span></td>
                    <td><span>2.27</span></td>
                    <td><span>190.0</span></td>
                    <td><span>247.0</span></td>
                </tr>

                    </tbody>
                </table>
            </body>
        </html>
