<div [className]="classToOuterToolbar">
    <div [className]="classToInnerToolbar">
        <mat-toolbar class="toolbar">
            <div class="sair">
                <bonamondo-logout *ngIf="paramsToMenuSidenav.paramsToLogout" [params]="paramsToMenuSidenav.paramsToLogout"></bonamondo-logout>
            </div>
        </mat-toolbar>
    </div>
</div>


<div [className]="classToOuterRouterOutlet">
    <div id="main-zone" [className]="classToInnerRouterOutlet">
        <router-outlet></router-outlet>
    </div>
</div>
          
<bonamondo-menu-sidenav [params]="paramsToMenuSidenav"></bonamondo-menu-sidenav>