<h6 mat-dialog-title style="font-size: 14px;">Reenviar senha</h6>
<form [formGroup]="loginForm">
  <div mat-dialog-content style="margin-bottom: 20px;">
      <div class="example-container">
        <mat-form-field>
          <mat-icon matPrefix>email</mat-icon> 
          <input matInput formControlName="email" type="text" placeholder="E-mail" maxlength="191">
        </mat-form-field>
      </div>
    
  </div>
  <div mat-dialog-actions [ngStyle]="{'text-align': 'center', 'display': 'block'}"> 
    <button mat-raised-button (click)="dialogRef.close()" color="warn">
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="enviar()" [disabled]="!loginForm.valid">
      Enviar
    </button>
  </div>
</form>